html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
#blogDiv{
  background-image: linear-gradient(115deg, rgba(127, 255, 0, 0.3), rgba(127, 127, 127, 0.3), rgba(255, 0, 0, 0.6),rgba(127, 127, 127, 0.3), rgba(127, 255, 0, 0.9));
  -webkit-animation: play 1.3s ease-in infinite;
}
@-webkit-keyframes play {
  0% {
      background-position: 0px;
  }
  20% {
      background-position: -110px;
  }
  35% {
      background-position: -180px;
  }
  50% {
      background-position: -210px;
  }
  80% {
      background-position: -350px;
  }
  100% {
      background-position: -390px;
  }
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
