.container {
  padding: 0;
}

.main {
  width: 100%;
}

.webLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  row-gap: 14px;
}

.mid {
  width: calc(100% - 220px);
  display: flex;
  flex-direction: row;
  margin: 68px 4% 0 8%;
  align-items: center;
}

.left {
  color: #1a202c;
  width: 100%;
}

.heading {
  font-size: 64px;
  font-weight: 700;
  margin-top: 34px;
  line-height: 76px;
  /* width: 658px; */
}
.InputDiv{
  width: 80%;
  display: flex;
  font-size: 16px;
  margin-top: 68px;
  padding: 5px;
  border-radius: 10px;
}

.phoneButton {
  background-color: #fe3d3e;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 17px 47px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.social_button {
  height: 40px;
  width: 150px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  justify-content: center;
}

.social_button:hover {
  background-color: #e2e8f0;
  text-decoration: underline;
  cursor: pointer;
}

.phoneButton:hover {
  transition: background-color 0.2s ease 0s, border-color o.2s ease 0s,
    color 0.2s ease 0s, fill 0.2s ease 0s, stroke 0.2s ease 0s,
    opacity 0.2s ease 0s, box-shadow 0.2s ease 0s, transform 0.2s ease 0;
  background-color: #e2e8f0;
  color: white;
  cursor: pointer;
}

.phoneButton:active {
  background-color: #0071f31e;
}

.social_medias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.clothes {
  display: flex;
  position: relative;
  height: 310px;
  min-width: 150px;
}

.dress {
  position: absolute;
  border: 1px solid #e7e6e6;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  padding: 10px;
}

.cloth1 {
  width: 52px;
  height: 52px;
  left: 67px;
  z-index: 1;
}

.cloth2 {
  width: 83px;
  height: 83px;
  z-index: 3;
  top: 40px;
}

.cloth3 {
  width: 69px;
  height: 69px;
  left: 60px;
  top: 97px;
  z-index: 2;
}

.cloth4 {
  height: 81px;
  width: 81px;
  left: 10px;
  top: 145px;
  z-index: 1;
}

.cloth5 {
  width: 52px;
  height: 52px;
  top: 207px;
  left: 66px;
  z-index: 2;
}

.cloth6 {
  width: 56px;
  height: 56px;
  top: 250px;
  left: 30px;
  z-index: 3;
}

.right{
  margin-Left:auto;
  width:100%;
  display: flex;
  height: inherit;
  justify-content: flex-end;
  align-items: flex-end;
}

.rightTexts {
  position: absolute;
  background-color: rgba(254, 61, 62, 0.1);
  border: 1px solid #ffcece;
  border-radius: 11px;
  width: 300px;
  left: -260px;
  top: 110px;
  padding: 16px;
}
.rightTexts p{
  color: #718096;
  font-size: 16px;
}

.texts {
  font-style: italic;
  font-size: 18px;
  color: #f56565;
  padding: 16px 0;
  display: flex;
  align-items: center;
  white-space: wrap;
}

.logoImage {
  width: 309px;
  height: 500px;
  position: relative;
}

.logoBox {
  position: absolute;
  height: 20px;
  width: 458px;
  left: -116px;
  bottom: 0;
  box-shadow: inset 0px -11px 8px -10px #ccc;
}
.blog {
  margin: 50px 0 50px 0;
}

.blogMain {
  display: flex;
  gap: 40px;
  overflow-x: scroll;
  padding: 0 8%;
}  
.blogDiv {
  width: 510px;
}
.blogImage {
  border: 1px solid #e7e6e6;
  width: 509px;
  height: 220px;
  background-color: #e7e6e6;
  border-radius: 12px 12px 0 0;
}
.blogContent {
  border: 1px solid #e7e6e6;
  padding: 16px 24px;
  border-radius: 0 0 12px 12px;
}
.blogContent h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
}
.blogContent h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838da6;
}
.blogContent p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838da6;
}
.blogContent a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fe3d3e;
}
.footer {
  background-color: #171923;
  padding: 80px 8%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.footer2{
  display: flex;
  gap: 50px;
}
.footerMainMedia{
  display: flex;
  flex-direction: row;
  gap: 15px;
  white-space: nowrap;
  width: fit-content;
}
.footerMedia{
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #838DA6;
   border-radius: 80px;
}
.footerImg{
  display:flex;
  gap:9px;
  width:max-content;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.soacialP{
  color: #A0AEC0;
  font-size: 20px;
  margin-top: 84px;
}



@media only screen and (max-width: 1370px) {
  .social_medias {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .heading {
    text-align: center;
    line-height: 37px;
    /* width:max-content; */
    font-size: 35px;
    font-weight: 700;
  }
  .heading+p{
    text-align: center;
  }
  .mid {
    flex-direction: column-reverse;
    margin-top: 80px;
  }
  .left {
    width: 100%;
    margin-bottom: 20px;
    margin-top: -200px;
  }
  .clothes {
    display: flex;
    position: relative;
    width: 320px;
    min-height: 150px;
    margin-top: 50px;
  }
  
  .dress {
    position: absolute;
    border: 1px solid #e7e6e6;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    padding: 10px;
  }
  
  .cloth1 {
    width: 60px;
    height: 70px;
    top:0;
    left: 0;
    z-index: 1;
  }
  
  .cloth2 {
    width: 83px;
    height: 83px;
    z-index: 3;
    left: 40px;
  }
  
  .cloth3 {
    width: 69px;
    height: 69px;
    top: 0px;
    left: 97px;
    z-index: 2;
  }
  
  .cloth4 {
    height: 81px;
    width: 81px;
    top: 50px;
    left: 145px;
    z-index: 1;
  }
  
  .cloth5 {
    width: 72px;
    height: 72px;
    left: 207px;
    top: 10px;
    z-index: 2;
  }
  
  .cloth6 {
    width: 56px;
    height: 56px;
    left: 260px;
    top: 70px;
    z-index: 3;
  }
  .social_medias{
    width: fit-content;
    margin: auto;
  }
  .soacialP{
    text-align: center;
  }
}

@media only screen and (max-width: 950px) {
  .social_medias {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .heading {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }
  .mid {
    width: 90%;
    flex-direction: column-reverse;
    margin: 80px 5% 0 5%;
  }
  .left {
    margin-bottom: 20px;
    column-gap: 0;
    row-gap: 0;
  }
  .InputDiv{
    width: 100%;
  }
  .footer{
    flex-direction: column;
  }
  .footerImg{
    flex-wrap: wrap;
  }

}


@media only screen and (max-width: 700px) {
  .social_medias {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .footer2{
    flex-wrap: wrap;
  }
  .texts {
    font-size: 12px;
    padding: 8px 0;
    
  }
  .logoImage {
    width: 185px;
    height: 300px;
  }
  .logoBox {
    width: 308px;
    left: -100px;
  }
  .rightBox{
    width: 355px;
    display: flex;
    justify-content: flex-end;
  }
  .right{
    justify-content: center;
  }
  .rightTexts {
    width: 230px;
    left: -170px;
    height: fit-content;
    top: 60px;
    padding: 0 8px;
  }
  .rightTexts p{
    font-size: 12px;
  }
}

@media only screen and (max-width: 540px) {
  .social_medias {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  .rightTexts {
    width: 100%;
    left: -85%;
    height: fit-content;
    top: 60px;
    padding: 0 8px;
  }
  .rightBox{
    max-width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
  }
  .texts {
    font-size: 12px;
    padding: 8px 0;
  }
  .logoImage {
    width: 163.5px;
    height: 300.16px;
  }
  .mid {
    margin-top: 20px;
  }
  .logoBox {
    width: 188px;
    left: -20%;
  }
  .footerImg{
    flex-wrap: wrap;
    width: auto;
  }
}

@media only screen and (max-width: 320px) {
  
  .clothes {
    display: flex;
    position: relative;
    max-height: 310px;
    width: 140px;
  }
  
  .dress {
    position: absolute;
    border: 1px solid #e7e6e6;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    padding: 10px;
  }
  
  .cloth1 {
    width: 52px;
    height: 52px;
    left: 67px;
    z-index: 1;
  }
  
  .cloth2 {
    width: 83px;
    height: 83px;
    z-index: 3;
    top: 40px;
    left: 10px;
  }
  
  .cloth3 {
    width: 69px;
    height: 69px;
    left: 60px;
    top: 107px;
    z-index: 2;
  }
  
  .cloth4 {
    height: 81px;
    width: 81px;
    left: 10px;
    top: 145px;
    z-index: 1;
  }
  
  .cloth5 {
    width: 52px;
    height: 52px;
    top: 207px;
    left: 66px;
    z-index: 2;
  }
  
  .cloth6 {
    width: 56px;
    height: 56px;
    top: 250px;
    left: 30px;
    z-index: 3;
  }
  .heading{
    margin-top: 230px;
  }
}
