.container {
  padding: 0;
}
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 0 40px;
}

.left{
   width: fit-content;
  color: #1A202C;
}

.social_button{
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  border:1px solid #E2E8F0;
  border-radius: 6px;
  width: fit-content;
}

.social_button:hover{
  background-color: #E2E8F0;
  text-decoration: underline;
  cursor: pointer;
}

.phoneButton{
  background-color: #F56565;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.phoneButton:hover{
  transition: background-color 0.2s ease 0s, border-color o.2s ease 0s, color 0.2s ease 0s, fill 0.2s ease 0s, stroke 0.2s ease 0s, opacity 0.2s ease 0s, box-shadow 0.2s ease 0s, transform 0.2s ease 0;
   background-color: #E2E8F0;
   color: white;
   cursor: pointer;
}

.phoneButton:active{
  background-color: #0071f31e;
}

.social_medias{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}
.rightTexts{
  background-color: #ffcece;
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin-right:270px;
}
.texts{
  font-style:italic;
  font-size: 18px;
  color: #F56565;
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top:8px;
  white-space:wrap;
}

.logoImage{
  position: absolute;
  right: 0; 
  bottom:0; 
  width:309px; 
  height:500px;
}

.footer {
    background-color: #171923;
    color: white;
    padding: 8px;
    font-size: 16px;
    
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.heading{
  font-size: 60px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

@media only screen and (max-width: 1370px) {

  .social_medias{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .heading{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }
}


@media only screen and (max-width: 1040px) {

  .social_medias{
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .heading{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }
  .mid{
    flex-direction: column-reverse;
    margin-top: 80px;
  }
  .left{
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 700px) {

  .social_medias{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

}


@media only screen and (max-width: 540px) {

  .social_medias{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
  }
  .texts{
    font-size: 12px;
    padding: 8px 0;
  }
  .logoImage{
    width: 185px;
    height: 300px;
  }
  .rightTexts{
    margin-right: 150px;
    padding: 8px;
  }
  .mid{
    margin-top: 20px;
  }
}
